<div class="row">
    <div class="col">
        <label for="">Select Vehicle </label>
    </div>
</div>
<div class="row">
    <div class="col">
        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
            {% for vehicle in vehicles %}
                <option value="vehicle.id">{{ vehicle.id }}</option>
            {% endfor %}
        </select>
    </div>
</div>
<div class="row">
    <div class="col text-center">
        <button class="myButton ">Check In</button>
    </div>
</div>