<div class="row">
    <div class="col text-center">
        <div class="d-grid gap-2 col-6 mx-auto">
            {% if (app.session.get('in_pause')) %}
                <a class="btn btn-secondary btn-lg" href="{{ path("app_complete_pause") }}">
                    End Pause
                </a>
            {% else %}
                <a class="btn btn-success btn-lg" href="{{ path("app_start_pause") }}">
                    Start Pause
                </a>
            {% endif %}
        </div>
    </div>
</div>
{% if (app.session.get('in_pause') == false) %}
    <div class="row">
        <div class="col text-center">
            <div class="d-grid gap-2 col-6 mx-auto">
                <a href="{{ path("app_checkOut") }}" class="btn btn-primary btn-lg">Check Out</a>
            </div>
        </div>
    </div>
{% endif %}