<div class="row">
    <div class="col">
        <label for="">Select Vehicle </label>
    </div>
</div>
<form action="{{ path("app_checkIn") }}" method="post">
    <div class="row">
        <div class="col">
            <select name="vehicle" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                {% for vehicle in vehicles %}
                    <option value="{{ vehicle.id }}">{{ vehicle.id }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    {% if vehicles|length %}
        <div class="row">
            <div class="d-grid gap-2 col-6 mx-auto">
                <button type="submit" class="btn btn-success btn-lg">Check In</button>
            </div>
        </div>
    {% endif %}
</form>